<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SS_Coin_02_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,244}</string>
                <key>spriteSourceSize</key>
                <string>{257,244}</string>
                <key>textureRect</key>
                <string>{{725,612},{257,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SS_Coin_02_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,244}</string>
                <key>spriteSourceSize</key>
                <string>{257,244}</string>
                <key>textureRect</key>
                <string>{{1368,1},{257,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SS_Coin_02_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,244}</string>
                <key>spriteSourceSize</key>
                <string>{257,244}</string>
                <key>textureRect</key>
                <string>{{725,858},{257,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SS_Coin_02_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,244}</string>
                <key>spriteSourceSize</key>
                <string>{257,244}</string>
                <key>textureRect</key>
                <string>{{1006,345},{257,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SS_Coin_02_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,244}</string>
                <key>spriteSourceSize</key>
                <string>{257,244}</string>
                <key>textureRect</key>
                <string>{{1252,268},{257,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SS_Coin_02_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,244}</string>
                <key>spriteSourceSize</key>
                <string>{257,244}</string>
                <key>textureRect</key>
                <string>{{1498,247},{257,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SS_Coin_02_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,244}</string>
                <key>spriteSourceSize</key>
                <string>{257,244}</string>
                <key>textureRect</key>
                <string>{{1252,527},{257,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SS_Coin_02_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,244}</string>
                <key>spriteSourceSize</key>
                <string>{257,244}</string>
                <key>textureRect</key>
                <string>{{1511,506},{257,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SS_Coin_02_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,265}</string>
                <key>spriteSourceSize</key>
                <string>{279,265}</string>
                <key>textureRect</key>
                <string>{{1,1033},{279,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SS_Coin_02_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,265}</string>
                <key>spriteSourceSize</key>
                <string>{279,265}</string>
                <key>textureRect</key>
                <string>{{725,345},{279,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SS_Coin_02_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,265}</string>
                <key>spriteSourceSize</key>
                <string>{279,265}</string>
                <key>textureRect</key>
                <string>{{1087,1},{279,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SS_Coin_02_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,244}</string>
                <key>spriteSourceSize</key>
                <string>{257,244}</string>
                <key>textureRect</key>
                <string>{{1006,604},{257,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SS_Coin_02_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,265}</string>
                <key>spriteSourceSize</key>
                <string>{279,265}</string>
                <key>textureRect</key>
                <string>{{282,1033},{279,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SS_Coin_02_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,342}</string>
                <key>spriteSourceSize</key>
                <string>{360,342}</string>
                <key>textureRect</key>
                <string>{{1,1},{360,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SS_Coin_02_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,342}</string>
                <key>spriteSourceSize</key>
                <string>{360,342}</string>
                <key>textureRect</key>
                <string>{{1,345},{360,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SS_Coin_02_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,342}</string>
                <key>spriteSourceSize</key>
                <string>{360,342}</string>
                <key>textureRect</key>
                <string>{{363,1},{360,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SS_Coin_02_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,342}</string>
                <key>spriteSourceSize</key>
                <string>{360,342}</string>
                <key>textureRect</key>
                <string>{{1,689},{360,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SS_Coin_02_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,342}</string>
                <key>spriteSourceSize</key>
                <string>{360,342}</string>
                <key>textureRect</key>
                <string>{{363,345},{360,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SS_Coin_02_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,342}</string>
                <key>spriteSourceSize</key>
                <string>{360,342}</string>
                <key>textureRect</key>
                <string>{{725,1},{360,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SS_Coin_02_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,342}</string>
                <key>spriteSourceSize</key>
                <string>{360,342}</string>
                <key>textureRect</key>
                <string>{{363,689},{360,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SS_Coin_02_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,244}</string>
                <key>spriteSourceSize</key>
                <string>{257,244}</string>
                <key>textureRect</key>
                <string>{{984,863},{257,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SS_Coin_02_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,244}</string>
                <key>spriteSourceSize</key>
                <string>{257,244}</string>
                <key>textureRect</key>
                <string>{{1252,773},{257,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SS_Coin_02_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,244}</string>
                <key>spriteSourceSize</key>
                <string>{257,244}</string>
                <key>textureRect</key>
                <string>{{1511,765},{257,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SS_Coin_02_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,244}</string>
                <key>spriteSourceSize</key>
                <string>{257,244}</string>
                <key>textureRect</key>
                <string>{{1243,1019},{257,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SS_Coin_02_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,244}</string>
                <key>spriteSourceSize</key>
                <string>{257,244}</string>
                <key>textureRect</key>
                <string>{{1502,1024},{257,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SS_Coin_02_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,244}</string>
                <key>spriteSourceSize</key>
                <string>{257,244}</string>
                <key>textureRect</key>
                <string>{{563,1104},{257,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SS_Coin_02_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,244}</string>
                <key>spriteSourceSize</key>
                <string>{257,244}</string>
                <key>textureRect</key>
                <string>{{822,1109},{257,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SS_Coin_02.png</string>
            <key>size</key>
            <string>{1760,1354}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3fa2f0cafddf0af1424f61181b60251e:fb0230279e04603536764755836e18a4:f453dbf8b6142022b145273c09456701$</string>
            <key>textureFileName</key>
            <string>SS_Coin_02.png</string>
        </dict>
    </dict>
</plist>
