<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Game_Loading/1_E0EC282.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,88}</string>
                <key>spriteSourceSize</key>
                <string>{85,88}</string>
                <key>textureRect</key>
                <string>{{1,1},{85,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Game_Loading/2_36FF1741.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,88}</string>
                <key>spriteSourceSize</key>
                <string>{85,88}</string>
                <key>textureRect</key>
                <string>{{91,1},{85,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Game_Loading/3_A9070315.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,88}</string>
                <key>spriteSourceSize</key>
                <string>{85,88}</string>
                <key>textureRect</key>
                <string>{{1,88},{85,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Game_Loading/4_C00A0FA6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,88}</string>
                <key>spriteSourceSize</key>
                <string>{85,88}</string>
                <key>textureRect</key>
                <string>{{91,88},{85,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Game_Loading/5_AF0963E5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,88}</string>
                <key>spriteSourceSize</key>
                <string>{85,88}</string>
                <key>textureRect</key>
                <string>{{1,175},{85,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Game_Loading/6_D0B46A15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,88}</string>
                <key>spriteSourceSize</key>
                <string>{85,88}</string>
                <key>textureRect</key>
                <string>{{91,175},{85,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Game_Loading/7_D6D69E2D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,88}</string>
                <key>spriteSourceSize</key>
                <string>{85,88}</string>
                <key>textureRect</key>
                <string>{{1,262},{85,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Game_Loading/8_BC6F35B6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,88}</string>
                <key>spriteSourceSize</key>
                <string>{85,88}</string>
                <key>textureRect</key>
                <string>{{1,352},{85,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Game_Loading/9_32082980.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,88}</string>
                <key>spriteSourceSize</key>
                <string>{85,88}</string>
                <key>textureRect</key>
                <string>{{88,262},{85,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SS_Single/1_12C03E7D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,19}</string>
                <key>spriteSourceSize</key>
                <string>{18,19}</string>
                <key>textureRect</key>
                <string>{{228,26},{18,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SS_Single/2_E0632588.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,23}</string>
                <key>spriteSourceSize</key>
                <string>{25,23}</string>
                <key>textureRect</key>
                <string>{{228,1},{25,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SS_Single/3_3257D517.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,36}</string>
                <key>spriteSourceSize</key>
                <string>{39,36}</string>
                <key>textureRect</key>
                <string>{{181,44},{39,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SS_Single/4_4AA092EE.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,41}</string>
                <key>spriteSourceSize</key>
                <string>{45,41}</string>
                <key>textureRect</key>
                <string>{{181,1},{45,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SS_Lobby.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06f176362e20081d7a08d6f21f67f270:853af7bdcc8341a1bcb3e88cf87d133d:d9206027c9a6138b054e504c2332fbbe$</string>
            <key>textureFileName</key>
            <string>SS_Lobby.png</string>
        </dict>
    </dict>
</plist>
