<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SS_Roulette_tex_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,203}</string>
                <key>spriteSourceSize</key>
                <string>{203,203}</string>
                <key>textureRect</key>
                <string>{{1281,361},{203,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SS_Roulette_tex_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,359}</string>
                <key>spriteSourceSize</key>
                <string>{358,359}</string>
                <key>textureRect</key>
                <string>{{1281,1},{358,359}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SS_Roulette_tex_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,684}</string>
                <key>spriteSourceSize</key>
                <string>{667,684}</string>
                <key>textureRect</key>
                <string>{{1,1},{667,684}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SS_Roulette_tex_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{598,592}</string>
                <key>spriteSourceSize</key>
                <string>{598,592}</string>
                <key>textureRect</key>
                <string>{{687,1},{598,592}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SS_Roulette_tex_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,128}</string>
                <key>spriteSourceSize</key>
                <string>{179,128}</string>
                <key>textureRect</key>
                <string>{{1486,361},{179,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SS_Roulette_tex_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,128}</string>
                <key>spriteSourceSize</key>
                <string>{179,128}</string>
                <key>textureRect</key>
                <string>{{1486,491},{179,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SS_Roulette_tex.png</string>
            <key>size</key>
            <string>{1666,669}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c836a608bbc8a31f499560b4792e8e73:3ce5871e247bd289224112e49dd8668b:a19161b79b93c941e84be5a06e7f1e4b$</string>
            <key>textureFileName</key>
            <string>SS_Roulette_tex.png</string>
        </dict>
    </dict>
</plist>
