<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SS_TST_Wave2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,249}</string>
                <key>spriteSourceSize</key>
                <string>{298,249}</string>
                <key>textureRect</key>
                <string>{{1,1},{298,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SS_TST_Wave2_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,249}</string>
                <key>spriteSourceSize</key>
                <string>{298,249}</string>
                <key>textureRect</key>
                <string>{{301,1},{298,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SS_TST_Wave2_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,249}</string>
                <key>spriteSourceSize</key>
                <string>{298,249}</string>
                <key>textureRect</key>
                <string>{{601,1},{298,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SS_TST_Wave2_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,249}</string>
                <key>spriteSourceSize</key>
                <string>{298,249}</string>
                <key>textureRect</key>
                <string>{{1,252},{298,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SS_TST_Wave2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,249}</string>
                <key>spriteSourceSize</key>
                <string>{298,249}</string>
                <key>textureRect</key>
                <string>{{301,252},{298,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SS_TST_Wave2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,249}</string>
                <key>spriteSourceSize</key>
                <string>{298,249}</string>
                <key>textureRect</key>
                <string>{{601,252},{298,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SS_TST_Wave2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,249}</string>
                <key>spriteSourceSize</key>
                <string>{298,249}</string>
                <key>textureRect</key>
                <string>{{1,503},{298,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SS_TST_Wave2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,249}</string>
                <key>spriteSourceSize</key>
                <string>{298,249}</string>
                <key>textureRect</key>
                <string>{{301,503},{298,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SS_TST_Wave2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,249}</string>
                <key>spriteSourceSize</key>
                <string>{298,249}</string>
                <key>textureRect</key>
                <string>{{601,503},{298,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SS_TST_Wave2_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,249}</string>
                <key>spriteSourceSize</key>
                <string>{298,249}</string>
                <key>textureRect</key>
                <string>{{1,754},{298,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SS_TST_Wave2_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,249}</string>
                <key>spriteSourceSize</key>
                <string>{298,249}</string>
                <key>textureRect</key>
                <string>{{301,754},{298,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SS_TST_Wave2_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,249}</string>
                <key>spriteSourceSize</key>
                <string>{298,249}</string>
                <key>textureRect</key>
                <string>{{601,754},{298,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SS_TST_Wave2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa46a0c48a57a7a97a7e19b96be880c7:86021877b6775327475160572644d3fc:75666af5019bc62f8859158b7fd27a7a$</string>
            <key>textureFileName</key>
            <string>SS_TST_Wave2.png</string>
        </dict>
    </dict>
</plist>
