<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CenserBead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,242}</string>
                <key>spriteSourceSize</key>
                <string>{250,242}</string>
                <key>textureRect</key>
                <string>{{294,1},{250,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CenserBead_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,81}</string>
                <key>spriteSourceSize</key>
                <string>{79,81}</string>
                <key>textureRect</key>
                <string>{{1,298},{79,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CenserBead_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,81}</string>
                <key>spriteSourceSize</key>
                <string>{79,81}</string>
                <key>textureRect</key>
                <string>{{1,381},{79,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CenserBead_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,81}</string>
                <key>spriteSourceSize</key>
                <string>{79,81}</string>
                <key>textureRect</key>
                <string>{{82,298},{79,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CenserBead_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,81}</string>
                <key>spriteSourceSize</key>
                <string>{79,81}</string>
                <key>textureRect</key>
                <string>{{82,381},{79,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CenserBead_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,81}</string>
                <key>spriteSourceSize</key>
                <string>{79,81}</string>
                <key>textureRect</key>
                <string>{{163,298},{79,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CenserBead_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,81}</string>
                <key>spriteSourceSize</key>
                <string>{79,81}</string>
                <key>textureRect</key>
                <string>{{163,381},{79,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CenserBead_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,81}</string>
                <key>spriteSourceSize</key>
                <string>{79,81}</string>
                <key>textureRect</key>
                <string>{{294,245},{79,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CenserBead_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,81}</string>
                <key>spriteSourceSize</key>
                <string>{79,81}</string>
                <key>textureRect</key>
                <string>{{377,245},{79,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CenserBead_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,81}</string>
                <key>spriteSourceSize</key>
                <string>{79,81}</string>
                <key>textureRect</key>
                <string>{{460,245},{79,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CenserBead_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,81}</string>
                <key>spriteSourceSize</key>
                <string>{79,81}</string>
                <key>textureRect</key>
                <string>{{244,326},{79,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CenserBead_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,81}</string>
                <key>spriteSourceSize</key>
                <string>{79,81}</string>
                <key>textureRect</key>
                <string>{{244,409},{79,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CenserBead_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,81}</string>
                <key>spriteSourceSize</key>
                <string>{79,81}</string>
                <key>textureRect</key>
                <string>{{325,326},{79,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CenserBead_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,81}</string>
                <key>spriteSourceSize</key>
                <string>{79,81}</string>
                <key>textureRect</key>
                <string>{{327,409},{79,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CenserBead_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,81}</string>
                <key>spriteSourceSize</key>
                <string>{79,81}</string>
                <key>textureRect</key>
                <string>{{406,326},{79,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CenserBead_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,81}</string>
                <key>spriteSourceSize</key>
                <string>{79,81}</string>
                <key>textureRect</key>
                <string>{{410,409},{79,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CenserBead_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,81}</string>
                <key>spriteSourceSize</key>
                <string>{79,81}</string>
                <key>textureRect</key>
                <string>{{487,326},{79,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CenserBead_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,295}</string>
                <key>spriteSourceSize</key>
                <string>{291,295}</string>
                <key>textureRect</key>
                <string>{{1,1},{291,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CenserBead.png</string>
            <key>size</key>
            <string>{567,489}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:972ed063b91e55bc66376b55a1750858:c669f8378d4dd22be1f77cbf5c80f326:8675d4719ae58ed26bd8721785a16687$</string>
            <key>textureFileName</key>
            <string>CenserBead.png</string>
        </dict>
    </dict>
</plist>
