<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DrillCannon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,154}</string>
                <key>spriteSourceSize</key>
                <string>{153,154}</string>
                <key>textureRect</key>
                <string>{{335,1},{153,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DrillCannon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,179}</string>
                <key>spriteSourceSize</key>
                <string>{175,179}</string>
                <key>textureRect</key>
                <string>{{1,1},{175,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DrillCannon_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,128}</string>
                <key>spriteSourceSize</key>
                <string>{125,128}</string>
                <key>textureRect</key>
                <string>{{490,1},{125,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DrillCannon_BD.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,179}</string>
                <key>spriteSourceSize</key>
                <string>{155,179}</string>
                <key>textureRect</key>
                <string>{{178,1},{155,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>DrillCannon.png</string>
            <key>size</key>
            <string>{616,181}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:98013269e5e0ee80ce4c55f3fa3aee57:cbdbc4db75381c65c060e0436f27c701:b9152681f72fb6426c9d84b0e89f65a4$</string>
            <key>textureFileName</key>
            <string>DrillCannon.png</string>
        </dict>
    </dict>
</plist>
