<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_17/fish_17_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,159}</string>
                <key>spriteSourceSize</key>
                <string>{123,159}</string>
                <key>textureRect</key>
                <string>{{1916,1},{123,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_17/fish_17_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,159}</string>
                <key>spriteSourceSize</key>
                <string>{123,159}</string>
                <key>textureRect</key>
                <string>{{1916,162},{123,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_17/fish_17_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,159}</string>
                <key>spriteSourceSize</key>
                <string>{123,159}</string>
                <key>textureRect</key>
                <string>{{1916,323},{123,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_17/fish_17_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,159}</string>
                <key>spriteSourceSize</key>
                <string>{123,159}</string>
                <key>textureRect</key>
                <string>{{580,719},{123,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_17/fish_17_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,159}</string>
                <key>spriteSourceSize</key>
                <string>{123,159}</string>
                <key>textureRect</key>
                <string>{{387,1609},{123,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_17/fish_17_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,159}</string>
                <key>spriteSourceSize</key>
                <string>{123,159}</string>
                <key>textureRect</key>
                <string>{{548,1609},{123,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_17/fish_17_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,159}</string>
                <key>spriteSourceSize</key>
                <string>{123,159}</string>
                <key>textureRect</key>
                <string>{{705,719},{123,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_17/fish_17_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,159}</string>
                <key>spriteSourceSize</key>
                <string>{123,159}</string>
                <key>textureRect</key>
                <string>{{709,1585},{123,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_17/fish_17_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,159}</string>
                <key>spriteSourceSize</key>
                <string>{123,159}</string>
                <key>textureRect</key>
                <string>{{1226,387},{123,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_17/fish_17_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,159}</string>
                <key>spriteSourceSize</key>
                <string>{123,159}</string>
                <key>textureRect</key>
                <string>{{1387,387},{123,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_17/fish_17_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,159}</string>
                <key>spriteSourceSize</key>
                <string>{123,159}</string>
                <key>textureRect</key>
                <string>{{1548,387},{123,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_17/fish_17_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,159}</string>
                <key>spriteSourceSize</key>
                <string>{123,159}</string>
                <key>textureRect</key>
                <string>{{1673,397},{123,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_17/fish_17_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,159}</string>
                <key>spriteSourceSize</key>
                <string>{123,159}</string>
                <key>textureRect</key>
                <string>{{1834,484},{123,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_17/fish_17_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,159}</string>
                <key>spriteSourceSize</key>
                <string>{123,159}</string>
                <key>textureRect</key>
                <string>{{1673,522},{123,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_17/fish_17_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,159}</string>
                <key>spriteSourceSize</key>
                <string>{123,159}</string>
                <key>textureRect</key>
                <string>{{1834,609},{123,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_17/fish_17_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,159}</string>
                <key>spriteSourceSize</key>
                <string>{123,159}</string>
                <key>textureRect</key>
                <string>{{1226,512},{123,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_18/fish_18_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,233}</string>
                <key>spriteSourceSize</key>
                <string>{196,233}</string>
                <key>textureRect</key>
                <string>{{1681,1},{196,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_18/fish_18_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,233}</string>
                <key>spriteSourceSize</key>
                <string>{196,233}</string>
                <key>textureRect</key>
                <string>{{1681,199},{196,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_18/fish_18_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,233}</string>
                <key>spriteSourceSize</key>
                <string>{196,233}</string>
                <key>textureRect</key>
                <string>{{1,1744},{196,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_18/fish_18_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,233}</string>
                <key>spriteSourceSize</key>
                <string>{196,233}</string>
                <key>textureRect</key>
                <string>{{199,1744},{196,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_18/fish_18_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,233}</string>
                <key>spriteSourceSize</key>
                <string>{196,233}</string>
                <key>textureRect</key>
                <string>{{387,904},{196,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_18/fish_18_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,233}</string>
                <key>spriteSourceSize</key>
                <string>{196,233}</string>
                <key>textureRect</key>
                <string>{{580,484},{196,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_18/fish_18_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,233}</string>
                <key>spriteSourceSize</key>
                <string>{196,233}</string>
                <key>textureRect</key>
                <string>{{387,1139},{196,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_18/fish_18_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,233}</string>
                <key>spriteSourceSize</key>
                <string>{196,233}</string>
                <key>textureRect</key>
                <string>{{387,1374},{196,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_18/fish_18_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,233}</string>
                <key>spriteSourceSize</key>
                <string>{196,233}</string>
                <key>textureRect</key>
                <string>{{397,1734},{196,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_18/fish_18_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,233}</string>
                <key>spriteSourceSize</key>
                <string>{196,233}</string>
                <key>textureRect</key>
                <string>{{595,1734},{196,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_18/fish_18_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,233}</string>
                <key>spriteSourceSize</key>
                <string>{196,233}</string>
                <key>textureRect</key>
                <string>{{585,880},{196,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_18/fish_18_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,233}</string>
                <key>spriteSourceSize</key>
                <string>{196,233}</string>
                <key>textureRect</key>
                <string>{{778,484},{196,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_18/fish_18_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,233}</string>
                <key>spriteSourceSize</key>
                <string>{196,233}</string>
                <key>textureRect</key>
                <string>{{585,1115},{196,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_18/fish_18_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,233}</string>
                <key>spriteSourceSize</key>
                <string>{196,233}</string>
                <key>textureRect</key>
                <string>{{585,1350},{196,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_18/fish_18_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,233}</string>
                <key>spriteSourceSize</key>
                <string>{196,233}</string>
                <key>textureRect</key>
                <string>{{793,1710},{196,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_18/fish_18_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,233}</string>
                <key>spriteSourceSize</key>
                <string>{196,233}</string>
                <key>textureRect</key>
                <string>{{991,387},{196,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_19/fish_19_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{418,191}</string>
                <key>spriteSourceSize</key>
                <string>{418,191}</string>
                <key>textureRect</key>
                <string>{{1,1},{418,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_19/fish_19_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{418,191}</string>
                <key>spriteSourceSize</key>
                <string>{418,191}</string>
                <key>textureRect</key>
                <string>{{421,1},{418,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_19/fish_19_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{418,191}</string>
                <key>spriteSourceSize</key>
                <string>{418,191}</string>
                <key>textureRect</key>
                <string>{{841,1},{418,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_19/fish_19_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{418,191}</string>
                <key>spriteSourceSize</key>
                <string>{418,191}</string>
                <key>textureRect</key>
                <string>{{1261,1},{418,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_19/fish_19_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{418,191}</string>
                <key>spriteSourceSize</key>
                <string>{418,191}</string>
                <key>textureRect</key>
                <string>{{1,194},{418,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_19/fish_19_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{418,191}</string>
                <key>spriteSourceSize</key>
                <string>{418,191}</string>
                <key>textureRect</key>
                <string>{{421,194},{418,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_19/fish_19_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{418,191}</string>
                <key>spriteSourceSize</key>
                <string>{418,191}</string>
                <key>textureRect</key>
                <string>{{841,194},{418,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_19/fish_19_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{418,191}</string>
                <key>spriteSourceSize</key>
                <string>{418,191}</string>
                <key>textureRect</key>
                <string>{{1261,194},{418,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_19/fish_19_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{418,191}</string>
                <key>spriteSourceSize</key>
                <string>{418,191}</string>
                <key>textureRect</key>
                <string>{{1,484},{418,191}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_19/fish_19_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{418,191}</string>
                <key>spriteSourceSize</key>
                <string>{418,191}</string>
                <key>textureRect</key>
                <string>{{1,904},{418,191}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_19/fish_19_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{418,191}</string>
                <key>spriteSourceSize</key>
                <string>{418,191}</string>
                <key>textureRect</key>
                <string>{{1,1324},{418,191}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_19/fish_19_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{418,191}</string>
                <key>spriteSourceSize</key>
                <string>{418,191}</string>
                <key>textureRect</key>
                <string>{{194,484},{418,191}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_19/fish_19_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{418,191}</string>
                <key>spriteSourceSize</key>
                <string>{418,191}</string>
                <key>textureRect</key>
                <string>{{194,904},{418,191}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_19/fish_19_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{418,191}</string>
                <key>spriteSourceSize</key>
                <string>{418,191}</string>
                <key>textureRect</key>
                <string>{{194,1324},{418,191}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_19/fish_19_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{418,191}</string>
                <key>spriteSourceSize</key>
                <string>{418,191}</string>
                <key>textureRect</key>
                <string>{{387,484},{418,191}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish_2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86b5ed4467ed3fa2cf32bd0984ca7b01:0ad7f885abf0d1eabfc05425322b55d3:33fa0a06d9eee5fcb58345d0d33c04c5$</string>
            <key>textureFileName</key>
            <string>fish_2.png</string>
        </dict>
    </dict>
</plist>
