<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_20_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,234}</string>
                <key>spriteSourceSize</key>
                <string>{236,234}</string>
                <key>textureRect</key>
                <string>{{1,1},{236,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_20_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,140}</string>
                <key>spriteSourceSize</key>
                <string>{186,140}</string>
                <key>textureRect</key>
                <string>{{1,237},{186,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_20_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,83}</string>
                <key>spriteSourceSize</key>
                <string>{30,83}</string>
                <key>textureRect</key>
                <string>{{189,237},{30,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_20_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,83}</string>
                <key>spriteSourceSize</key>
                <string>{30,83}</string>
                <key>textureRect</key>
                <string>{{221,237},{30,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish_20.png</string>
            <key>size</key>
            <string>{252,378}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38aa39336b53a01cdb1887d52b2cc204:88cdb3c47263d6e752bf43497d490ffc:25b3dce22b865b8f213ed750563338ee$</string>
            <key>textureFileName</key>
            <string>fish_20.png</string>
        </dict>
    </dict>
</plist>
