<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GodAdvent_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{377,375}</string>
                <key>spriteSourceSize</key>
                <string>{377,375}</string>
                <key>textureRect</key>
                <string>{{1,1},{377,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GodAdvent_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{377,375}</string>
                <key>spriteSourceSize</key>
                <string>{377,375}</string>
                <key>textureRect</key>
                <string>{{380,1},{377,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GodAdvent_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{377,375}</string>
                <key>spriteSourceSize</key>
                <string>{377,375}</string>
                <key>textureRect</key>
                <string>{{759,1},{377,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GodAdvent_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{377,375}</string>
                <key>spriteSourceSize</key>
                <string>{377,375}</string>
                <key>textureRect</key>
                <string>{{1138,1},{377,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GodAdvent_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{377,375}</string>
                <key>spriteSourceSize</key>
                <string>{377,375}</string>
                <key>textureRect</key>
                <string>{{1517,1},{377,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GodAdvent_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{377,375}</string>
                <key>spriteSourceSize</key>
                <string>{377,375}</string>
                <key>textureRect</key>
                <string>{{1,378},{377,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GodAdvent_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{377,375}</string>
                <key>spriteSourceSize</key>
                <string>{377,375}</string>
                <key>textureRect</key>
                <string>{{1,757},{377,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GodAdvent_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{377,375}</string>
                <key>spriteSourceSize</key>
                <string>{377,375}</string>
                <key>textureRect</key>
                <string>{{1,1136},{377,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GodAdvent_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{377,375}</string>
                <key>spriteSourceSize</key>
                <string>{377,375}</string>
                <key>textureRect</key>
                <string>{{1,1515},{377,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GodAdvent_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{377,375}</string>
                <key>spriteSourceSize</key>
                <string>{377,375}</string>
                <key>textureRect</key>
                <string>{{378,378},{377,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GodAdvent_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{377,375}</string>
                <key>spriteSourceSize</key>
                <string>{377,375}</string>
                <key>textureRect</key>
                <string>{{757,378},{377,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GodAdvent_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{377,375}</string>
                <key>spriteSourceSize</key>
                <string>{377,375}</string>
                <key>textureRect</key>
                <string>{{1136,378},{377,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GodAdvent_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{377,375}</string>
                <key>spriteSourceSize</key>
                <string>{377,375}</string>
                <key>textureRect</key>
                <string>{{1515,378},{377,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GodAdvent_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{377,375}</string>
                <key>spriteSourceSize</key>
                <string>{377,375}</string>
                <key>textureRect</key>
                <string>{{378,755},{377,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GodAdvent_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{377,375}</string>
                <key>spriteSourceSize</key>
                <string>{377,375}</string>
                <key>textureRect</key>
                <string>{{378,1134},{377,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GodAdvent_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{377,375}</string>
                <key>spriteSourceSize</key>
                <string>{377,375}</string>
                <key>textureRect</key>
                <string>{{378,1513},{377,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GodAdvent.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae54f789b297be12e84348693426d079:d108803d7a689e80549ebe7affee7f5b:a910a76b694dd766a54c374f182aebc6$</string>
            <key>textureFileName</key>
            <string>GodAdvent.png</string>
        </dict>
    </dict>
</plist>
