<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LuckRun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,180}</string>
                <key>spriteSourceSize</key>
                <string>{176,180}</string>
                <key>textureRect</key>
                <string>{{1,1},{176,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LuckRun_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,147}</string>
                <key>spriteSourceSize</key>
                <string>{169,147}</string>
                <key>textureRect</key>
                <string>{{1,525},{169,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LuckRun_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,147}</string>
                <key>spriteSourceSize</key>
                <string>{169,147}</string>
                <key>textureRect</key>
                <string>{{1,696},{169,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LuckRun_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,143}</string>
                <key>spriteSourceSize</key>
                <string>{169,143}</string>
                <key>textureRect</key>
                <string>{{685,856},{169,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LuckRun_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,143}</string>
                <key>spriteSourceSize</key>
                <string>{169,143}</string>
                <key>textureRect</key>
                <string>{{856,1},{169,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LuckRun_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,147}</string>
                <key>spriteSourceSize</key>
                <string>{169,147}</string>
                <key>textureRect</key>
                <string>{{1,867},{169,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LuckRun_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,147}</string>
                <key>spriteSourceSize</key>
                <string>{169,147}</string>
                <key>textureRect</key>
                <string>{{150,525},{169,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LuckRun_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,149}</string>
                <key>spriteSourceSize</key>
                <string>{169,149}</string>
                <key>textureRect</key>
                <string>{{1,183},{169,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LuckRun_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,147}</string>
                <key>spriteSourceSize</key>
                <string>{169,147}</string>
                <key>textureRect</key>
                <string>{{150,696},{169,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LuckRun_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,147}</string>
                <key>spriteSourceSize</key>
                <string>{169,147}</string>
                <key>textureRect</key>
                <string>{{172,867},{169,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LuckRun_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,147}</string>
                <key>spriteSourceSize</key>
                <string>{169,147}</string>
                <key>textureRect</key>
                <string>{{152,183},{169,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LuckRun_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,147}</string>
                <key>spriteSourceSize</key>
                <string>{169,147}</string>
                <key>textureRect</key>
                <string>{{152,354},{169,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LuckRun_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,147}</string>
                <key>spriteSourceSize</key>
                <string>{169,147}</string>
                <key>textureRect</key>
                <string>{{179,1},{169,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LuckRun_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,146}</string>
                <key>spriteSourceSize</key>
                <string>{169,146}</string>
                <key>textureRect</key>
                <string>{{448,685},{169,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LuckRun_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,146}</string>
                <key>spriteSourceSize</key>
                <string>{169,146}</string>
                <key>textureRect</key>
                <string>{{514,856},{169,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LuckRun_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,146}</string>
                <key>spriteSourceSize</key>
                <string>{169,146}</string>
                <key>textureRect</key>
                <string>{{596,685},{169,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LuckRun_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,147}</string>
                <key>spriteSourceSize</key>
                <string>{169,147}</string>
                <key>textureRect</key>
                <string>{{299,525},{169,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LuckRun_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,147}</string>
                <key>spriteSourceSize</key>
                <string>{169,147}</string>
                <key>textureRect</key>
                <string>{{299,696},{169,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LuckRun_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,147}</string>
                <key>spriteSourceSize</key>
                <string>{169,147}</string>
                <key>textureRect</key>
                <string>{{343,867},{169,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LuckRun_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,147}</string>
                <key>spriteSourceSize</key>
                <string>{169,147}</string>
                <key>textureRect</key>
                <string>{{301,172},{169,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LuckRun_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,147}</string>
                <key>spriteSourceSize</key>
                <string>{169,147}</string>
                <key>textureRect</key>
                <string>{{328,1},{169,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LuckRun_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,147}</string>
                <key>spriteSourceSize</key>
                <string>{169,147}</string>
                <key>textureRect</key>
                <string>{{301,343},{169,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LuckRun_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,147}</string>
                <key>spriteSourceSize</key>
                <string>{169,147}</string>
                <key>textureRect</key>
                <string>{{448,514},{169,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LuckRun_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,149}</string>
                <key>spriteSourceSize</key>
                <string>{169,149}</string>
                <key>textureRect</key>
                <string>{{1,354},{169,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>LuckRun.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78dcb5be467aba518fa49881073ddc43:48f442377f98675ad5ba3e9d60dfa8f8:e9ae07904bb3c6ccdbfc9868723807ca$</string>
            <key>textureFileName</key>
            <string>LuckRun.png</string>
        </dict>
    </dict>
</plist>
