<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bafangcifu.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,653},{554,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{554,273}}</string>
                <key>sourceSize</key>
                <string>{554,273}</string>
            </dict>
            <key>bangzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1593},{101,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,59}}</string>
                <key>sourceSize</key>
                <string>{101,59}</string>
            </dict>
            <key>baohupao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1745,2},{548,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,290}}</string>
                <key>sourceSize</key>
                <string>{548,290}</string>
            </dict>
            <key>baozhuzhaofu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1339},{514,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{514,252}}</string>
                <key>sourceSize</key>
                <string>{514,252}</string>
            </dict>
            <key>caishenfafa-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,2},{580,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,208}}</string>
                <key>sourceSize</key>
                <string>{580,208}</string>
            </dict>
            <key>caishenfafa.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,212},{563,439}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{563,439}}</string>
                <key>sourceSize</key>
                <string>{563,439}</string>
            </dict>
            <key>caishenjianglin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,2},{567,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{567,226}}</string>
                <key>sourceSize</key>
                <string>{567,226}</string>
            </dict>
            <key>caiyunz.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,1211},{530,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,203}}</string>
                <key>sourceSize</key>
                <string>{530,203}</string>
            </dict>
            <key>caiyunzhuanlun.png</key>
            <dict>
                <key>frame</key>
                <string>{{1159,516},{561,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{561,274}}</string>
                <key>sourceSize</key>
                <string>{561,274}</string>
            </dict>
            <key>fengbaofugui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,845},{554,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{554,252}}</string>
                <key>sourceSize</key>
                <string>{554,252}</string>
            </dict>
            <key>guizeweixuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1593},{183,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,62}}</string>
                <key>sourceSize</key>
                <string>{183,62}</string>
            </dict>
            <key>guizexuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1657},{183,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,61}}</string>
                <key>sourceSize</key>
                <string>{183,61}</string>
            </dict>
            <key>jiemianweixuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,1654},{182,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,58}}</string>
                <key>sourceSize</key>
                <string>{182,58}</string>
            </dict>
            <key>jiemianxuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,1593},{183,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,64}}</string>
                <key>sourceSize</key>
                <string>{183,64}</string>
            </dict>
            <key>jubaolianlian-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,317},{560,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,274}}</string>
                <key>sourceSize</key>
                <string>{560,274}</string>
            </dict>
            <key>jubaolianlian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,1072},{540,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,275}}</string>
                <key>sourceSize</key>
                <string>{540,275}</string>
            </dict>
            <key>jubaolianlian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,792},{551,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{551,278}}</string>
                <key>sourceSize</key>
                <string>{551,278}</string>
            </dict>
            <key>qinglongpao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1159,230},{562,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,284}}</string>
                <key>sourceSize</key>
                <string>{562,284}</string>
            </dict>
            <key>shandianfugui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,593},{557,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{557,250}}</string>
                <key>sourceSize</key>
                <string>{557,250}</string>
            </dict>
            <key>shuoming.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1730},{537,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{537,304}}</string>
                <key>sourceSize</key>
                <string>{537,304}</string>
            </dict>
            <key>shuoming2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,1191},{537,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{537,311}}</string>
                <key>sourceSize</key>
                <string>{537,311}</string>
            </dict>
            <key>teseweixuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,1593},{183,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,59}}</string>
                <key>sourceSize</key>
                <string>{183,59}</string>
            </dict>
            <key>tesexuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1651,1072},{182,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,67}}</string>
                <key>sourceSize</key>
                <string>{182,67}</string>
            </dict>
            <key>teshuwuq.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{590,313}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,313}}</string>
                <key>sourceSize</key>
                <string>{590,313}</string>
            </dict>
            <key>teshuwuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,636},{553,315}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{553,315}}</string>
                <key>sourceSize</key>
                <string>{553,315}</string>
            </dict>
            <key>tishi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,317},{336,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,18}}</string>
                <key>sourceSize</key>
                <string>{336,18}</string>
            </dict>
            <key>tishi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,600},{323,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,34}}</string>
                <key>sourceSize</key>
                <string>{323,34}</string>
            </dict>
            <key>tishi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1723,230},{368,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,18}}</string>
                <key>sourceSize</key>
                <string>{368,18}</string>
            </dict>
            <key>wuqihongli.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1099},{541,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{541,238}}</string>
                <key>sourceSize</key>
                <string>{541,238}</string>
            </dict>
            <key>yanhuadan.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,928},{549,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{549,281}}</string>
                <key>sourceSize</key>
                <string>{549,281}</string>
            </dict>
            <key>yuweixuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,1659},{183,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,63}}</string>
                <key>sourceSize</key>
                <string>{183,63}</string>
            </dict>
            <key>yuxuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1651,1256},{183,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,64}}</string>
                <key>sourceSize</key>
                <string>{183,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>help_new.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f29d39f92f90e4266d6512c467d283b4$</string>
            <key>textureFileName</key>
            <string>help_new.png</string>
        </dict>
    </dict>
</plist>
