<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>JDB_CJ_Date.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,22}</string>
                <key>spriteSourceSize</key>
                <string>{77,22}</string>
                <key>textureRect</key>
                <string>{{857,730},{77,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JDB_CJ_Turnover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,34}</string>
                <key>spriteSourceSize</key>
                <string>{150,34}</string>
                <key>textureRect</key>
                <string>{{790,1642},{150,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JDB_CJ_UseCoin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,42}</string>
                <key>spriteSourceSize</key>
                <string>{172,42}</string>
                <key>textureRect</key>
                <string>{{616,1671},{172,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JDB_CJ_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,540}</string>
                <key>spriteSourceSize</key>
                <string>{960,540}</string>
                <key>textureRect</key>
                <string>{{1,1},{960,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JDB_CJ_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,68}</string>
                <key>spriteSourceSize</key>
                <string>{212,68}</string>
                <key>textureRect</key>
                <string>{{657,1572},{212,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JDB_CJ_btn_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,60}</string>
                <key>spriteSourceSize</key>
                <string>{58,60}</string>
                <key>textureRect</key>
                <string>{{857,620},{58,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JDB_CJ_btn_gz_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,118}</string>
                <key>spriteSourceSize</key>
                <string>{160,118}</string>
                <key>textureRect</key>
                <string>{{813,1020},{160,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JDB_CJ_btn_gz_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,118}</string>
                <key>spriteSourceSize</key>
                <string>{160,118}</string>
                <key>textureRect</key>
                <string>{{813,1140},{160,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JDB_CJ_btn_wz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,48}</string>
                <key>spriteSourceSize</key>
                <string>{123,48}</string>
                <key>textureRect</key>
                <string>{{657,1471},{123,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JDB_CJ_btn_zx_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,118}</string>
                <key>spriteSourceSize</key>
                <string>{160,118}</string>
                <key>textureRect</key>
                <string>{{813,1260},{160,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JDB_CJ_btn_zx_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,118}</string>
                <key>spriteSourceSize</key>
                <string>{160,118}</string>
                <key>textureRect</key>
                <string>{{813,1380},{160,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JDB_CJ_game_help_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{854,475}</string>
                <key>spriteSourceSize</key>
                <string>{854,475}</string>
                <key>textureRect</key>
                <string>{{1,543},{854,475}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JDB_CJ_game_help_gth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{857,543},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JDB_CJ_game_help_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{453,266}</string>
                <key>spriteSourceSize</key>
                <string>{453,266}</string>
                <key>textureRect</key>
                <string>{{1,1471},{453,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JDB_CJ_help_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{810,449}</string>
                <key>spriteSourceSize</key>
                <string>{810,449}</string>
                <key>textureRect</key>
                <string>{{1,1020},{810,449}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JDB_CJ_lobby_RETRIEVING.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,20}</string>
                <key>spriteSourceSize</key>
                <string>{68,20}</string>
                <key>textureRect</key>
                <string>{{857,776},{68,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JDB_CJ_lobby_Refresh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,17}</string>
                <key>spriteSourceSize</key>
                <string>{216,17}</string>
                <key>textureRect</key>
                <string>{{616,1715},{216,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JDB_CJ_lobby_UseCoin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,22}</string>
                <key>spriteSourceSize</key>
                <string>{110,22}</string>
                <key>textureRect</key>
                <string>{{857,682},{110,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JDB_CJ_lobby__LastGames.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,22}</string>
                <key>spriteSourceSize</key>
                <string>{88,22}</string>
                <key>textureRect</key>
                <string>{{857,706},{88,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JDB_CJ_lobby__RETRIEVING.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,20}</string>
                <key>spriteSourceSize</key>
                <string>{78,20}</string>
                <key>textureRect</key>
                <string>{{857,754},{78,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JDB_CJ_mask_wz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,64}</string>
                <key>spriteSourceSize</key>
                <string>{158,64}</string>
                <key>textureRect</key>
                <string>{{456,1671},{158,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JDB_CJ_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,70}</string>
                <key>spriteSourceSize</key>
                <string>{181,70}</string>
                <key>textureRect</key>
                <string>{{782,1500},{181,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JDB_CJ_zz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,198}</string>
                <key>spriteSourceSize</key>
                <string>{199,198}</string>
                <key>textureRect</key>
                <string>{{456,1471},{199,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>JDB_CJ.png</string>
            <key>size</key>
            <string>{974,1738}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ad9eb1e743129297a5001af5fa0907a:8b707b544a46a49bb90bdc747dc47aa5:bb920410bc7d546baf45b3573d2542c8$</string>
            <key>textureFileName</key>
            <string>JDB_CJ.png</string>
        </dict>
    </dict>
</plist>
