<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MineGame_ChooseOne.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,31}</string>
                <key>spriteSourceSize</key>
                <string>{117,31}</string>
                <key>textureRect</key>
                <string>{{525,453},{117,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MineGame_Coin_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,83}</string>
                <key>spriteSourceSize</key>
                <string>{64,83}</string>
                <key>textureRect</key>
                <string>{{923,97},{64,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MineGame_Coin_01_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,83}</string>
                <key>spriteSourceSize</key>
                <string>{64,83}</string>
                <key>textureRect</key>
                <string>{{923,182},{64,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MineGame_Coin_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,91}</string>
                <key>spriteSourceSize</key>
                <string>{83,91}</string>
                <key>textureRect</key>
                <string>{{803,425},{83,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MineGame_Coin_02_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,91}</string>
                <key>spriteSourceSize</key>
                <string>{83,91}</string>
                <key>textureRect</key>
                <string>{{896,425},{83,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MineGame_Coin_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,110}</string>
                <key>spriteSourceSize</key>
                <string>{87,110}</string>
                <key>textureRect</key>
                <string>{{803,313},{87,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MineGame_Coin_03_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,110}</string>
                <key>spriteSourceSize</key>
                <string>{87,110}</string>
                <key>textureRect</key>
                <string>{{892,313},{87,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MineGame_Coin_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,118}</string>
                <key>spriteSourceSize</key>
                <string>{106,118}</string>
                <key>textureRect</key>
                <string>{{803,97},{106,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MineGame_Coin_04_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,118}</string>
                <key>spriteSourceSize</key>
                <string>{106,118}</string>
                <key>textureRect</key>
                <string>{{803,205},{106,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MineGame_Logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,57}</string>
                <key>spriteSourceSize</key>
                <string>{234,57}</string>
                <key>textureRect</key>
                <string>{{1,453},{234,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MiniGame_BG_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,450}</string>
                <key>spriteSourceSize</key>
                <string>{800,450}</string>
                <key>textureRect</key>
                <string>{{1,1},{800,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MiniGame_RewardMultliplier.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,32}</string>
                <key>spriteSourceSize</key>
                <string>{116,32}</string>
                <key>textureRect</key>
                <string>{{407,453},{116,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MiniGame_UseCoin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,33}</string>
                <key>spriteSourceSize</key>
                <string>{121,33}</string>
                <key>textureRect</key>
                <string>{{284,453},{121,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Return_BTN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,94}</string>
                <key>spriteSourceSize</key>
                <string>{163,94}</string>
                <key>textureRect</key>
                <string>{{803,1},{163,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Stone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,50}</string>
                <key>spriteSourceSize</key>
                <string>{45,50}</string>
                <key>textureRect</key>
                <string>{{237,453},{45,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>JDB_Mgame.png</string>
            <key>size</key>
            <string>{988,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a36102d33bccc07298ced4207e14b831:3f0667a16b70d4bceb07b820717ff0d4:f49ed6e272b1009a2bf3c908d4710196$</string>
            <key>textureFileName</key>
            <string>JDB_Mgame.png</string>
        </dict>
    </dict>
</plist>
