<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FG_common_loading_l.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1136,640}</string>
                <key>spriteSourceSize</key>
                <string>{1136,640}</string>
                <key>textureRect</key>
                <string>{{643,1},{1136,640}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>FG_common_loading_p.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,1136}</string>
                <key>spriteSourceSize</key>
                <string>{640,1136}</string>
                <key>textureRect</key>
                <string>{{1,1},{640,1136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FG_progressBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{628,18}</string>
                <key>spriteSourceSize</key>
                <string>{628,18}</string>
                <key>textureRect</key>
                <string>{{1,1139},{628,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FG_progressBarBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{635,17}</string>
                <key>spriteSourceSize</key>
                <string>{635,17}</string>
                <key>textureRect</key>
                <string>{{631,1139},{635,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_particles/Fire_particles_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,46}</string>
                <key>spriteSourceSize</key>
                <string>{96,46}</string>
                <key>textureRect</key>
                <string>{{631,1158},{96,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_particles/Fire_particles_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,46}</string>
                <key>spriteSourceSize</key>
                <string>{96,46}</string>
                <key>textureRect</key>
                <string>{{729,1158},{96,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_particles/Fire_particles_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,46}</string>
                <key>spriteSourceSize</key>
                <string>{96,46}</string>
                <key>textureRect</key>
                <string>{{827,1158},{96,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_particles/Fire_particles_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,46}</string>
                <key>spriteSourceSize</key>
                <string>{96,46}</string>
                <key>textureRect</key>
                <string>{{925,1158},{96,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_particles/Fire_particles_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,46}</string>
                <key>spriteSourceSize</key>
                <string>{96,46}</string>
                <key>textureRect</key>
                <string>{{1023,1158},{96,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_particles/Fire_particles_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,46}</string>
                <key>spriteSourceSize</key>
                <string>{96,46}</string>
                <key>textureRect</key>
                <string>{{1121,1158},{96,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_particles/Fire_particles_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,46}</string>
                <key>spriteSourceSize</key>
                <string>{96,46}</string>
                <key>textureRect</key>
                <string>{{1,1159},{96,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_particles/Fire_particles_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,46}</string>
                <key>spriteSourceSize</key>
                <string>{96,46}</string>
                <key>textureRect</key>
                <string>{{99,1159},{96,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_particles/Fire_particles_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,46}</string>
                <key>spriteSourceSize</key>
                <string>{96,46}</string>
                <key>textureRect</key>
                <string>{{197,1159},{96,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_particles/Fire_particles_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,46}</string>
                <key>spriteSourceSize</key>
                <string>{96,46}</string>
                <key>textureRect</key>
                <string>{{295,1159},{96,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_particles/Fire_particles_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,46}</string>
                <key>spriteSourceSize</key>
                <string>{96,46}</string>
                <key>textureRect</key>
                <string>{{393,1159},{96,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_particles/Fire_particles_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,46}</string>
                <key>spriteSourceSize</key>
                <string>{96,46}</string>
                <key>textureRect</key>
                <string>{{491,1159},{96,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_particles/Fire_particles_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,46}</string>
                <key>spriteSourceSize</key>
                <string>{96,46}</string>
                <key>textureRect</key>
                <string>{{589,1206},{96,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_particles/Fire_particles_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,46}</string>
                <key>spriteSourceSize</key>
                <string>{96,46}</string>
                <key>textureRect</key>
                <string>{{1,1207},{96,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_particles/Fire_particles_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,46}</string>
                <key>spriteSourceSize</key>
                <string>{96,46}</string>
                <key>textureRect</key>
                <string>{{99,1207},{96,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_particles/Fire_particles_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,46}</string>
                <key>spriteSourceSize</key>
                <string>{96,46}</string>
                <key>textureRect</key>
                <string>{{197,1207},{96,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_particles/Fire_particles_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,46}</string>
                <key>spriteSourceSize</key>
                <string>{96,46}</string>
                <key>textureRect</key>
                <string>{{295,1207},{96,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_particles/Fire_particles_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,46}</string>
                <key>spriteSourceSize</key>
                <string>{96,46}</string>
                <key>textureRect</key>
                <string>{{393,1207},{96,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_particles/Fire_particles_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,46}</string>
                <key>spriteSourceSize</key>
                <string>{96,46}</string>
                <key>textureRect</key>
                <string>{{491,1207},{96,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_particles/Fire_particles_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,46}</string>
                <key>spriteSourceSize</key>
                <string>{96,46}</string>
                <key>textureRect</key>
                <string>{{687,1206},{96,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>FG_loading.png</string>
            <key>size</key>
            <string>{1284,1254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55421359895cd31eadc9980d0b160883:77308205eb604ff2aeb6a0c4737fdaac:82cec980101a22a3d2a73a84efec47e2$</string>
            <key>textureFileName</key>
            <string>FG_loading.png</string>
        </dict>
    </dict>
</plist>
