<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UI_Help_Board02_png.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,30}</string>
                <key>spriteSourceSize</key>
                <string>{91,30}</string>
                <key>textureRect</key>
                <string>{{520,1022},{91,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>UI_Help_Board_png.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{834,453}</string>
                <key>spriteSourceSize</key>
                <string>{834,453}</string>
                <key>textureRect</key>
                <string>{{1,1},{834,453}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_Help_GameFeature2_02_png.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,122}</string>
                <key>spriteSourceSize</key>
                <string>{148,122}</string>
                <key>textureRect</key>
                <string>{{837,1},{148,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>UI_Help_GameFeature3_02_png.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,197}</string>
                <key>spriteSourceSize</key>
                <string>{204,197}</string>
                <key>textureRect</key>
                <string>{{577,922},{204,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_Help_GameFeature4_02_png.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,172}</string>
                <key>spriteSourceSize</key>
                <string>{181,178}</string>
                <key>textureRect</key>
                <string>{{783,922},{173,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>UI_Help_GameFeature5_02_png.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{158,160}</string>
                <key>textureRect</key>
                <string>{{783,1097},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_Help_GameFeature6_02_png.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,125}</string>
                <key>spriteSourceSize</key>
                <string>{122,125}</string>
                <key>textureRect</key>
                <string>{{520,1121},{122,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>UI_Help_Next_png.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,47}</string>
                <key>spriteSourceSize</key>
                <string>{47,47}</string>
                <key>textureRect</key>
                <string>{{647,1176},{47,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_Help_Off_png.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,53}</string>
                <key>spriteSourceSize</key>
                <string>{53,53}</string>
                <key>textureRect</key>
                <string>{{647,1121},{53,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_Help_PayTable2_01_png.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{517,223}</string>
                <key>spriteSourceSize</key>
                <string>{517,223}</string>
                <key>textureRect</key>
                <string>{{1,1022},{517,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_Help_PayTable2_02_png.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{574,256}</string>
                <key>spriteSourceSize</key>
                <string>{574,256}</string>
                <key>textureRect</key>
                <string>{{1,764},{574,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_Help_PayTable2_03_png.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{464,310}</string>
                <key>spriteSourceSize</key>
                <string>{468,316}</string>
                <key>textureRect</key>
                <string>{{591,456},{464,310}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>UI_Help_PayTable2_04_png.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{588,306}</string>
                <key>spriteSourceSize</key>
                <string>{588,306}</string>
                <key>textureRect</key>
                <string>{{1,456},{588,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_Help_PayTable3_02_png.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,120}</string>
                <key>spriteSourceSize</key>
                <string>{146,120}</string>
                <key>textureRect</key>
                <string>{{837,151},{146,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>UI_Help_PayTable4_02_png.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,135}</string>
                <key>spriteSourceSize</key>
                <string>{132,135}</string>
                <key>textureRect</key>
                <string>{{837,299},{132,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>help.png</string>
            <key>size</key>
            <string>{970,1250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25a96d19eaca6013dde0b2972c6a2e1f:dfe079801d2aa938251a12191f0f078f:b748d28db2ead7fdbe4aa6481e4be26c$</string>
            <key>textureFileName</key>
            <string>help.png</string>
        </dict>
    </dict>
</plist>
